html {
  height: 100%;
}

body {
  min-height: 100%;
}

.table-condensed {
  font-size: 0.8rem;
}

.asterisk {
  font-size: 50%;
  vertical-align: top;
  color: Salmon
}

button.btn.btn-light.btn-sm {
  border: 1px solid #ced4da
}

#additional_info {
  text-transform: uppercase;
}

textarea {
  resize: vertical;
  max-height: 200px;
  min-height: 31px;
  padding-left: 10px;
}