html {
  height: 100%;
}

body {
  min-height: 100%;
}

/* style for smaller tables */
.table-condensed {
  font-size: 0.8rem;
}

/* aligns required fields top right */
.asterisk {
  font-size: 50%;
  vertical-align: top;
  color: Salmon
}

/* border for buttons */
button.btn.btn-light.btn-sm {
  border: 1px solid #ced4da
}

/* ------------text transforms------------- */
#additional_info {
  text-transform: uppercase;
}

#area_major_fraction {
  text-transform: lowercase;
}

#additional_structures {
  text-transform: lowercase;
}

#area_subordinate_fraction {
  text-transform: lowercase;
}

#area_minor_fraction {
  text-transform: lowercase;
}
/*============================================ */

/* formatting for text area */
textarea {
  resize: vertical;
  max-height: 200px;
  min-height: 31px;
  padding-left: 10px;
}

/* displays fraction */
.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}

.frac>span {
  display: block;
  padding: 0.1em;
}

.frac span.bottom {
  border-top: thin solid black;
}

.frac span.symbol {
  display: none;
}
/* ==================================== */

/* removes up and down arrows from number field */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* removes red x from invalid field */
.form-control.form-control-sm.is-invalid {
  background-image: none
}

@media (max-width: 575px) {
  .py-xs-3{
    padding-bottom: 15px
  }
}
