<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NZGS Field Description</title>

    {% block css %}{% endblock %}

    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}"> -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="shortcut icon" href="{{url_for('static',filename='img/favicon 32x32.png')}}">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <div class="container">
            <a href="{{ url_for('index') }}" class="navbar-brand">
                <img src="{{url_for('static', filename='img/logo.png')}}" width="30" height="30" class="d-inline-block align-top" alt="">
                <span>NZGS Field Description</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if page == 1 %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">Order of Terms <span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Order of Terms </a>
                    </li>
                    {% endif %}

                    {% if page == 2 %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') + 'field-guide' }}">Field Guide Sheet <span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') + 'field-guide' }}">Field Guide Sheet </a>
                    </li>
                    {% endif %}

                    {% if page == 3 %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') + 'field-description' }}">Field Description Guideline <span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') + 'field-description' }}">Field Description Guideline </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>

    {% block body %}{% endblock %}
    <!-- <script src="{{url_for('static',filename='vendor/jquery/jquery-3.3.1.min.js')}}"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <!-- <script src="{{url_for('static',filename='vendor/popper/popper.min.js')}}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!-- <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
</body>

</html>